@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box; }

img {
  width: 100%; }

html {
  font-size: 62.5%; }
  @media (max-width: 600px) {
    html {
      font-size: 50%; } }
  @media (max-width: 1200px) {
    html {
      font-size: 50%; } }
  @media (max-width: 900px) {
    html {
      font-size: 56.25%; } }
  @media (min-width: 1800px) {
    html {
      font-size: 75%; } }

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 1.8rem;
  position: relative; }

.content {
  overflow: hidden;
  height: 100vh; }

.back-image {
  background-color: #eef3f6;
  height: 50vh;
  width: 48vw;
  position: absolute;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 5rem; }
  @media (max-width: 600px) {
    .back-image {
      height: 53vh;
      border-bottom-left-radius: 4rem;
      width: 52vw; } }

.container {
  width: 76%;
  margin: auto; }
  @media (max-width: 600px) {
    .container {
      width: 84%; } }

.header {
  display: flex;
  justify-content: space-between;
  height: 16rem;
  align-items: center;
  margin-bottom: 7.5rem; }
  @media (max-width: 600px) {
    .header {
      height: 11rem;
      margin-bottom: 2.9rem; } }

.menu {
  display: flex;
  justify-content: flex-end; }
  @media (max-width: 600px) {
    .menu {
      display: none; } }

.menu-item {
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
  border-bottom: 1px solid transparent;
  font-size: 1.7rem; }
  .menu-item:not(:last-child) {
    margin-right: 4.1rem; }
    .menu-item:not(:last-child):hover {
      border-bottom: 1px solid #5b5f71; }
  .menu-item:last-child {
    color: #a0a1ac; }
    .menu-item:last-child:hover {
      border-bottom: 1px solid #a0a1ac; }

.circle-item {
  margin-right: 5rem !important; }

.logo {
  width: 3rem; }
  @media (max-width: 600px) {
    .logo {
      width: 2.8rem; } }

.split {
  display: flex;
  justify-content: center;
  align-items: center; }
  @media (max-width: 600px) {
    .split {
      display: block; } }

.right {
  margin-top: 1rem;
  margin-right: -9rem;
  order: 1;
  flex: 50%; }
  @media (max-width: 600px) {
    .right {
      margin-bottom: 9rem;
      flex: none;
      margin-right: -20rem; } }

.left {
  flex: 50%;
  margin-top: -4rem; }
  @media (max-width: 600px) {
    .left {
      flex: none;
      margin-top: 0; } }

.device-image-container {
  width: 100%;
  position: relative;
  top: 0; }

.device-image {
  width: 150%; }
  @media (max-width: 600px) {
    .device-image {
      width: 100%;
      margin-left: -2.4rem; } }

.top-line {
  display: flex;
  align-items: center;
  margin-bottom: 1.8rem; }
  @media (max-width: 600px) {
    .top-line {
      margin-bottom: 1.8rem; } }

.mono {
  color: #a0a1ac;
  text-transform: uppercase;
  letter-spacing: 0.5rem; }

.new {
  background-color: black;
  color: #fff;
  border-radius: 20px;
  padding: 0.3rem 1.3rem;
  margin-right: 2rem;
  text-transform: uppercase;
  font-size: 1.6rem; }

.main-headline {
  text-transform: uppercase;
  width: 100%;
  font-size: 6.6rem;
  margin-bottom: 3rem;
  line-height: 1; }
  @media (max-width: 600px) {
    .main-headline {
      width: 100%;
      font-size: 4.3rem;
      line-height: 1.1;
      margin-bottom: 1.9rem; } }

.sub-headline {
  font-family: 'Barlow', sans-serif;
  margin-bottom: 6.5rem;
  color: #5b5f71;
  font-size: 2rem;
  width: 56%; }
  @media (max-width: 600px) {
    .sub-headline {
      width: 96%;
      margin-bottom: 3rem;
      line-height: 1.4;
      font-size: 2.1rem; } }

.schedule-button {
  background-color: #ff5c5c;
  border: none;
  color: #fff;
  padding: 1.5rem 4rem;
  border-radius: 6px;
  margin-right: 2rem;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 1.8rem; }
  .schedule-button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1); }
  @media (max-width: 600px) {
    .schedule-button {
      padding: 1.3rem 3rem;
      margin-right: 1rem;
      letter-spacing: 0.1rem;
      font-size: 1.5rem; } }

.preview-button {
  background-color: #fff;
  border: none;
  color: #a0a1ac;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 0.6rem;
  font-size: 1.6rem; }
  @media (max-width: 600px) {
    .preview-button {
      letter-spacing: 0.4rem;
      font-size: 1.5rem; } }

.hamburger {
  display: none; }
  @media (max-width: 600px) {
    .hamburger {
      display: block;
      width: 3rem; } }

.circle {
  border: 1px solid #a0a1ac;
  width: 5px;
  height: 5px;
  background-color: #a0a1ac;
  border-radius: 5px;
  position: absolute;
  top: 7.8rem; }

#nav-button {
  display: none; }
  @media (max-width: 600px) {
    #nav-button {
      display: block; } }

.nav-container {
  background-color: #fff;
  display: none;
  position: absolute;
  top: 12.5%;
  left: 10%;
  width: 80%;
  text-align: center;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  padding: 2.7rem 3rem 2.7rem 2rem; }

.show {
  display: block !important; }

.hide {
  display: none !important; }

.close {
  display: none; }

.ham-item {
  text-transform: uppercase;
  list-style: none;
  font-weight: 700;
  font-size: 2.1rem; }
  .ham-item:not(:last-child) {
    margin-bottom: 2.4rem; }
  .ham-item:nth-child(3) {
    margin-bottom: 2.6rem; }
  .ham-item:nth-child(5) {
    color: #a0a1ac; }

.seperator {
  border: 1px solid #eef3f6;
  margin-bottom: 2.6rem; }

.attribution {
  font-size: 11px;
  text-align: center; }
  @media (max-width: 600px) {
    .attribution {
      display: none; } }

.attribution a {
  color: #3e52a3; }
